@font-face {
    font-family: 'Myriad Pro';
    src: url(assets/fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: "Line Awesome Free";
    src: url();
}

body {
    font-family: 'Myriad Pro' !important;
}