.card-info {
    background: #340b2d !important;
    padding: 20px;
    border-radius: 10px !important;
    border: 1px solid #FFC827 !important;
    position: relative;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    transition: all ease .3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    margin: 20px;
    min-height: 150px;
    box-sizing: inherit;
}

.card-info:hover {
    box-shadow: -3.828px -3.828px 10px 0px rgb(255 200 39 / 40%), 3px 5px 10px 0px rgb(255 82 1 / 20%);
}

.card-content {
    display: block;
}

.deposit-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-input-field {
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: 0;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 5px;
    outline: 0;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    margin-bottom: 10px;
}

.current-balance {
    padding: auto;
    margin-bottom: 1.5rem;
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
}

.white-text {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info-img {
    color: #fff;
    background: linear-gradient(0deg, #ff9c19 40%, #ffdd2d 110%);
    font-size: 36px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deposit-submit-button {
    background: linear-gradient(0deg, #ff9c19 40%, #ffdd2d 110%);
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border: 0;
    color: white;
    text-transform: uppercase;
}

.deposit-submit-button:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

.withdraw-submit-button {
    background: linear-gradient(0deg, #ff9c19 40%, #ffdd2d 110%);
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border: 0;
    color: white;
    text-transform: uppercase;
}

.withdraw-submit-button:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

.button--loading .button-text {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 125px;
    bottom: -50px;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.disabled {
    pointer-events: none;
}

@media (max-width: 1399px) and (min-width: 700px) {
    .card-info {
        width: 250px;
    }

    .card-info-img {
        font-size: 30px;
        width: 70px;
        height: 70px;
    }

    .current-balance {
        font-size: 30px;
    }

    .white-text {
        font-size: 12px;
    }

    .card-input-field {
        font-size: 12px;
    }

    .button--loading::after {
        right: 100px;
    }
}