.gamepage {
    background-image: url('../assets/img/background.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15vh;
}

.gamepage-container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile {
    float: right;
}

.page-info {
    display: inline;
}

.cards-group-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.rooms-group-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1199px) {
    .profile {
        display: none;
    }
}

@media (max-width: 899px) {
    .cards-group-container {
        flex-direction: column;
    }

    .rooms-group-container {
        flex-direction: column;
    }
}