.header-container {
    background-color: #340b2d;
    border-bottom: 1px solid #824c6b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    height: 10vh;
}

.menu li div {
    font-size: 18px !important;
    font-weight: 700;
    color: white;
    margin: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.has-sub-menu {
    align-items: center;
    border: none;
    outline: none;
    color: white;
    margin: 0;
    cursor: pointer;
}

.logo-img {
    background-image: url('../assets/img/logo.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 65px;
    cursor: pointer;
}

.logo-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    text-align: center;
}

.balance-group {
    margin-top: 50px;
    color: #fff;
    display: flex;
    font-size: 19px;
}

a {
    text-decoration: none !important;
}