.homepage {
    background-image: url('../assets/img/background.jpg');
    /* Used if the image is unavailable */
    min-height: 100vh;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.homepage-container {
    background-image: url('../assets/img/homepage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 80%;
    padding-top: 80vh;
}

.row-justify-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.rules {
    background-image: url('../assets/img/rules.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 70px;
    cursor: pointer;
}

.rules:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(5px);
    /* Moving button 4px to y-axis */
}

.play-now {
    background-image: url('../assets/img/play_now.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    cursor: pointer;
}

.play-now:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(5px);
    /* Moving button 4px to y-axis */
}

.how-to-play {
    background-image: url('../assets/img/how_to_play.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 70px;
    cursor: pointer;
}

.how-to-play:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(5px);
    /* Moving button 4px to y-axis */
}

.how-to-play:hover {
    opacity: 0.8;
}

.play-now:hover {
    opacity: 0.8;
}

.rules:hover {
    opacity: 0.8;
}

@media (max-width:900px) {
    .homepage-container {
        background-image: url('../assets/img/mobile.png');
        padding-top: 65vh;
    }

    .row-justify-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
}